html {
  font-size: 20px;
}

body {
  background: #222;
  color: #eee;
}

button {
  border: none;
  background: transparent;
}

button:focus {
  outline: none;
}

li span[data-complete='true'] {
  text-decoration: line-through;
}

li span {
  cursor: pointer;
}
